<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spider.mapper.FyMapper">

    <resultMap id="BaseResultMap" type="com.spider.web.entity.Fy" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="fymc" property="fymc" jdbcType="VARCHAR" />
        <result column="fydm" property="fydm" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, fymc, fydm
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from fy;
    </select>

    <insert id="insertData" useGeneratedKeys="true" keyProperty="id" parameterType="com.spider.web.entity.Fy">
        insert into fy (fymc, fydm)
        values (#{fymc}, #{fydm})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into fy (fymc, fydm)
        values
        <foreach collection="list" index="idx" item="item" separator=",">
            (#{item.fymc}, #{item.fydm})
        </foreach>
    </insert>

</mapper>